{
	"singleQuote": true,
	"semi": false,
	"printWidth": 90,
	"tabWidth": 4,
	"useTabs": true,
	"plugins": [
		"prettier-plugin-tailwindcss",
		"prettier-plugin-classnames",
		"prettier-plugin-organize-imports",
		"prettier-plugin-packagejson",
		"prettier-plugin-merge"
	],
	"tailwindStylesheet": "./src/index.css",
	"customFunctions": ["clsx", "cn"],
	"syntaxTransformation": true
}
