{
    "singleQuote": true,
    "semi": false,
    "printWidth": 100,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-classnames",
        "prettier-plugin-organize-imports",
        "prettier-plugin-packagejson",
        "prettier-plugin-merge"
    ],
    "tailwindStylesheet": "./src/index.css",
    "customFunctions": ["clsx", "cn"],
    "syntaxTransformation": true
}
